	<div class='jumbotron' >
		<div class='row'>
			<div class='col-md-9 col-md-offset-1'>		

			<h1>VCF viewer</h1>
			<p class='lead'> Explore VCF files with rich graphics</p>
			<p>Access, analyze and share your VCF files everywhere with your research co-workers.</p>
		</div>
		</div>
	</div>

	<div class='container' >
		<div class='row'>
			<div class='col-md-4'>
				<div class='thumbnail'>
					<img src=''>
					<div class='caption'>

						<h3>Access VCF</h3>
						<p>Upload your vcf files online and access everywhere</p>
					</div>
				</div>
			</div>
			<div class='col-md-4'>
				<div class='thumbnail'>
					<img src=''>
					<div class='caption'>

						<h3>Analyze VCF</h3>
						<p>Find important variants and annotate them with simple intuitive control system.</p>
					</div>
				</div>
			</div>
			<div class='col-md-4'>
				<div class='thumbnail'>
					<img src=''>
					<div class='caption'>

						<h3>Share & communicate</h3>
						<p>Share data and  analysis result with co-workers or supporting  bioinformatics team. </p>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div id='footer'>
		<div class='container'>
			<p > &copy; Geference</p>
		</div>
	</div>


